@media only screen and (max-width: 767px){
    .form {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 480px){
    .form {
        padding: 20px;
        margin-top: 60px;
    }
    body {
        font-size: 16px;
    }
    .fact { margin-left: 8px;}
}